$header-height: rem-calc(80px);

.top-bar {
	position: fixed;
	box-shadow: $global-shadow;
	width: 100%;
	height: $header-height;
	z-index: 1;
}

.top-bar-logo {
    display: block;
    line-height: 1;
    margin-bottom: 0;
}

.top-bar-motto {

}

.main-phone {
	display: block;
    line-height: 1;
    margin-bottom: 0;
}

.main-phone-meta {

}

.main-content {
	padding-top: $header-height;
	background: $white;
	box-shadow: $global-shadow;
}

.call-us-bottom {
	padding: $global-padding 0;
	font-size: rem-calc(20);
}

footer {
	padding: $global-padding 0;
}

.background-header {
	padding: $global-padding;
	background-image: linear-gradient(180deg, transparent, rgba($black, 0.5)), url('../img/back-header.jpg');
	background-size: contain, cover;
	background-attachment: fixed;
	background-position: 0 0, 50% -100px;
	margin-bottom: $global-margin;
	background-repeat: no-repeat;
	color: $white;
	h1 {
		text-shadow: 0px 4px 10px rgba($black, 0.4);
		font-weight: bold;
	}
	a {
		color: $white;
	}
	.big-phone {
		text-shadow: 0px 4px 10px rgba($black, 0.4);
		color: $white;
	}
}

.background-header-big {
	padding: $global-padding*2;
	h1 {
		margin-bottom: $global-margin;
	}
}

.service {
	padding: $global-padding;
	h2 {
		font-size: rem-calc(25px);
	}
}

.call-mobile {
	position: fixed;
	bottom: 0;
	display: block;
	margin-bottom: 0;
	z-index: 1;
}

.map {
	height: 20rem;
	border-radius: $global-radius;
	background-color: $medium-gray;
	box-shadow: $global-shadow;
	overflow: hidden;
}

@media (max-width:640px) {
	footer {
		padding-bottom: $global-padding*2;
	}
}