<!doctype html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
            <title>{{title}}</title>
            <meta name="description" content="{{description}}">
            <meta name="keywords" content="{{keywords}}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head %}
    </head>
    <body>
        <header class="top-bar">
            <div class="top-bar-left">
                <a href="{{url_for("MainPage")}}">
                    <strong>{{siteName}}</strong>
                    <small class="top-bar-motto">
                        {{motto}}
                    </small>
                </a>
            </div>
            <div class="top-bar-right">
                <strong class="main-phone">
                    {% autoescape false %}{{mainPhone}}{% endautoescape %}
                </strong>
                <small class="phone-meta">
                    {{mainPhoneMeta}}
                </small>
            </div>
        </header>
        <div class="content row">
            {% block content %}{% endblock %}
        </div>
        <footer class="expanded row">
            <div class="row">
                {% block footerContent %}{% endblock %}
                {% autoescape false %}
                <small>{{copyright}}</small>
                {% endautoescape %}
            </div>
        </footer>
    </body>
</html>