<!doctype html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <link rel="shortcut icon" href="/static/img/favicon.ico"/>
            <link rel="stylesheet" href="/static/css/app.css">
            <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/> -->
            <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"> -->
            <title>{{title}}</title>
            <meta name="description" content="{{description}}">
            <meta name="keywords" content="{{keywords}}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock head %}
    </head>
    <body>
        {% include 'counters.html' %}
        <header class="top-bar">
            <div class="row">
                <div class="top-bar-left">
                    <a href="{{url_for("RegionNoService", subdomain = "www")}}">
                        <h4 class="top-bar-logo"><strong>{{siteName}}</strong></h4>
                        <small class="top-bar-motto">
                            {{motto|safe}}
                        </small>
                    </a>
                </div>
                <div class="top-bar-right text-right hide-for-small-only">
                    <h4 class="main-phone">
                        <strong>{{mainPhone|safe}}</strong>
                    </h4>
                    <small class="main-phone-meta">
                        {{mainPhoneMeta}}
                    </small>
                </div>
            </div>
        </header>
        <div class="main-content">
            <a class="show-for-small-only call-mobile expanded button large" href="tel:{{mainPhoneLink}}">Позвонить {{mainPhone|safe}}</a>
            {% block content %}{% endblock %}
        </div>
        <footer class="expanded row">
                {% block footerContent %}{% endblock %}
                <div class="row">
                    <div class="small-12 columns">{{copyright|safe}}</div>
                </div>
        </footer>
        <script type="text/javascript">
            var callMobileBtn = document.getElementsByClassName('call-mobile');
            callMobileBtn[0].onclick = function() {
                yaCounter42155599.reachGoal('PHONE');
                ga('send', 'event', 'Phone', 'Click'); 
            }
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>