{% extends "layout.html" %}
{% block content %}
	<div class="background-header row text-center">
		<h1>{{h1|safe}}</h1>
		{% include 'regionSearch.html' %}
	</div>
	<div class="row medium-up-2 large-up-3">
		{% for service in services %}
			<div class="column column-block">
				<div class="card service {{service.nameTranslit}}">
					<h2>{{service.name}}</h2>
					<p>{{service.description}}</p>
					<a class="button" href="{{ getLinkForRegionService(serviceId=service.id, regionId=region.id if region !=None else None) }}">Подробнее</a>
				</div>
			</div>
		{% endfor %}
	</div>
	{% include 'callUsBottom.html' %}
{% endblock %}
{% block footerContent %}
	<div class="row">
		{% for region in regions %}
			<div class="medium-4 large-3 columns">
				<strong>
					<a href="{{getLinkForRegionService(regionId=region.id)}}">{{region.name}}</a>
				</strong>
				<ul class="no-bullet">
				{% for subregion in region['children'] %}
					<li>
						<a href="{{getLinkForRegionService(regionId=subregion.id)}}">{{subregion.name}}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}