{% extends "layout.html" %}
{% block content %}
	<div class="background-header">
		<small class="breadcrumbs"><a href="{{url_for("MainPage")}}">Главная</a> /</small>
		<h1>{{h1}}</h1>
		{% include 'regionSearch.html' %}
	</div>
	<div class="row">
		{% for region in regions %}
			<div class="medium-6 large-4 columns">
				<strong>
					<a href="{{url_for("MainPage")}}">{{region.name}}</a>
				</strong>
				<ul class="no-bullet">
				{% for subregion in region['children'] %}
					<li>
						<a href="{{url_for("MainPage")}}">{{subregion.name}}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
	{% include 'callUsBottom.html' %}
{% endblock %}