{% extends "layout.html" %}
{% block head %}
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:site_name" content="{{siteName}}">
	<meta property="article:tag" content="{{title}}">
	<meta property="article:section" content="{{service.name}}">
	<meta property="og:image" content="{{imgUrl}}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:image" content="{{imgUrl}}">
{% endblock head %}
{% block content %}
	<style type="text/css">
		.header-{{service.nameTranslit}} {
			background: linear-gradient(90deg, rgba(240,80,36,0.9), rgba(221,73,35,0.9)), url('{{getServiceImgUrl(service, region, 'small')}}') 50% 50% / cover no-repeat;
		}
	</style>
	<div class="background-header row expanded header-{{service.nameTranslit}}">
		<div class="row">
			<div class="breadcrumbs">
				<a href="{{url_for("RegionNoService", subdomain = subdomain)}}">Главная</a>&nbsp;/
				<a href="{{getLinkForRegionService(serviceId=service.id, subdomain = subdomain)}}">{{service.name}}</a>&nbsp;/
				{% for region in parentRegions %}
					<a href="{{getLinkForRegionService(serviceId=service.id, regionId=region.id)}}">{{region.name}}</a>&nbsp;/
				{% endfor %}
			</div>
			<h1>{{h1|safe}}</h1>
			<div class="orderServiceContent">
				<div class="big-phone-container">
					<h1 class="big-phone"><strong>{{mainPhone|safe}}</strong></h1>
					<a class="show-for-small-only call-order-service button" href="tel:{{mainPhoneLink}}">Позвонить</a>
				</div>
			</div>
			<div class="map" id="map">
				Загрузка карты&hellip;
			</div>
		</div>
	</div>
	<div class="row css-columns-medium-2">
		{% for contentBlock in contentBlocks %}
			<div class="css-column">
				{{contentBlock|safe}}
			</div>
		{% endfor %}
	</div>
	<hr>
	<div class="row text-center other-service-header">
		<h2>{{otherServicesHeader}}</h2>
	</div>
	{% set forceOrder = True %}
	{% include 'servicesList.html' %}
	{% include 'callUsBottom.html' %}
{% endblock %}
{% block footerContent %}
	<div class="row css-columns-medium-3 css-columns-large-4">
		{% for subregion in regions %}
			{% for subregion in subregion['children'] %}
				<div class="css-column">
					{% if subregion.hasChildren %}
						<strong>
							<a href="{{getLinkForRegionService(regionId=subregion.id, serviceId=service.id)}}">{{subregion.name}}</a>
						</strong>
						<ul class="no-bullet">
						{% for subsubregion in subregion['children'] %}
							<li>
								<a href="{{getLinkForRegionService(regionId=subsubregion.id, serviceId=service.id)}}">{{subsubregion.name}}</a>
							</li>
						{% endfor %}
						</ul>
					{% else %}
						<a href="{{getLinkForRegionService(regionId=subregion.id, serviceId=service.id)}}">{{subregion.name}}</a>
					{% endif %}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
{% block js %}
	<script>
		var callOrderServiceBtn = document.getElementsByClassName('call-order-service');
        callOrderServiceBtn[0].onclick = function() {
            yaCounter42155599.reachGoal('PHONE');
            ga('send', 'event', 'Phone', 'Click');
        }
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{region.lat}}, lng: {{region.lon}}},
          zoom: 12,
          scrollwheel: false
        });
        var marker = new google.maps.Marker({
			map: map,
			position: {lat: {{region.lat}}, lng: {{region.lon}}}
		});
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvkIVKmq0vlm7bSLYaIxgF028eIJqhX8U&callback=initMap"
    async defer></script>
{% endblock %}