{% extends "layout.html" %}
{% block content %}
	<div class="background-header row">
		<div class="breadcrumbs">
			<a href="{{url_for("RegionNoService", subdomain = "www")}}">Главная</a>&nbsp;/
			<a href="{{getLinkForRegionService(serviceId=service.id)}}">{{service.name}}</a>&nbsp;/
			{% for region in parentRegions %}
				<a href="{{getLinkForRegionService(serviceId=service.id, regionId=region.id)}}">{{region.name}}</a>&nbsp;/
			{% endfor %}
		</div>
		<h1>{{h1}}</h1>
		<div class="row">
			<div class="medium-6 columns orderServiceContent">
				<div class="big-phone-container">
					<h2 class="big-phone"><strong>{{mainPhone|safe}}</strong></h2>
					<a class="show-for-small-only button" href="tel:{{mainPhoneLink}}">Позвонить</a>
				</div>
			</div>
			<div class="medium-6 columns map" id="map">
				Загрузка карты&hellip;
			</div>
		</div>
	</div>
	<div class="row">
		{% for contentBlock in contentBlocks %}
			<div class="medium-6 columns">
				{{contentBlock|safe}}
			</div>
		{% endfor %}
	</div>
	<hr>
	<div class="row text-center">
		<h2>{{otherServicesHeader}}</h2>
	</div>
	<div class="row medium-up-2 large-up-3">
		{% for service in services %}
			<div class="column column-block">
				<div class="card service {{service.nameTranslit}}">
					<h2>{{service.name}}</h2>
					<p>{{service.description}}</p>
					<a class="button" href="{{ getLinkForRegionService(serviceId=service.id, regionId=region.id, order = True) }}">Подробнее</a>
				</div>
			</div>
		{% endfor %}
	</div>
	{% include 'callUsBottom.html' %}
{% endblock %}
{% block footerContent %}
	<div class="row">
	{% for subregion in regions %}
		{% for subregion in subregion['children'] %}
			<div class="medium-6 large-4 columns">
				{% if subregion.hasChildren %}
					<strong>
						<a href="{{getLinkForRegionService(regionId=subregion.id, serviceId=None)}}">{{subregion.name}}</a>
					</strong>
					<ul class="no-bullet">
					{% for subsubregion in subregion['children'] %}
						<li>
							<a href="{{getLinkForRegionService(regionId=subsubregion.id, serviceId=None)}}">{{subsubregion.name}}</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<a href="{{getLinkForRegionService(regionId=subregion.id, serviceId=None)}}">{{subregion.name}}</a>
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
	</div>
{% endblock %}
{% block js %}
	<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{region.lat}}, lng: {{region.lon}}},
          zoom: 10,
          scrollwheel: false
        });
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode(
        	{
				'address': "{{region.nameTranslit}}",
				'bounds': new google.maps.LatLngBounds({lat: {{region.lat}}, lng: {{region.lon}}}, {lat: {{region.lat + 1}}, lng: {{region.lon + 1}}})
			}, 
			function(results, status) {
				if (status === 'OK') {
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location
					});
				}
			});
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvkIVKmq0vlm7bSLYaIxgF028eIJqhX8U&callback=initMap"
    async defer></script>
{% endblock %}