{% extends "layout.html" %}
{% block content %}
	<h1 class="background-header">
		<small class="breadcrumbs"><a href="{{url_for("mainPage")}}">Главная</a> /</small>
		{{h1}}
		{% include 'regionSearch.html' %}
	</h1>
	<div class="row">
		{% for region in regions %}
			<div class="medium-6 large-4 columns">
				<strong>
					<a href="{{url_for("mainPage")}}">{{region.name}}</a>
				</strong>
				<ul class="no-bullet">
				{% for subregion in region['children'] %}
					<li>
						<a href="{{url_for("mainPage")}}">{{subregion.name}}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}